{% extends 'TariffBundle:Default:layout_inner.html.twig' %}
{% block title %}Создать Тариф{% endblock %}
{% block pagetitle %}Создать Тариф{% endblock %}


{% 
    set crumbs = [
        {title: 'Список', path: 'tariff_index'}, 
        {title: 'Новый', current : true}
    ]
%}

{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.active) }}

    <fieldset>
        <legend>
            Возможности <span class="badge"></span>
            <a href="#" id="btn-add-feature" class="add_link btn btn-link btn-xs"><i class="icon icon-plus"></i></a>
        </legend>
        <div class="form-group">
            <div class="features-list" data-prototype="{{ form_widget(form.features.vars.prototype)|e('html_attr') }}">
                {% for feature in form.features %}
                    <div class="row-fluid feature-row">
                        <div class="span6">
                            {{ form_row(feature.feature, {'label': false}) }}
                        </div>
                        <div class="span6">
                            {{ form_row(feature.value, {'label': false}) }}
                        </div>
                    </div>
                {% endfor %} 
            </div>
    </fieldset>
    <input type="submit" value="Создать" class="btn btn-success" />

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/tariff/js/edit-tariff-wrapper.js') }}"></script>
{% endblock %}