{% extends 'TariffBundle:Default:layout_inner.html.twig' %}
{% block title %}Категории{% endblock %}
{% block pagetitle %}Категории{% endblock %}

{% 
    set crumbs = [
        {title: 'Список', current: true}, 
    ]
%}

{#================CONTENT=====================================================#}
{% block body %}

    {# Выводим список категорий   #}
    <div class="list-group row-fluid span6">
        <div class="well well-sm">
            <div class="btn-group">
                <a class="btn btn-info btn-sm" href="{{ path("add_category") }}">Добавить</a>
            </div>
        </div>

        {# Табы #}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#active" data-toggle="tab">Активные</a></li>
            <li><a href="#unactive" data-toggle="tab">Неактивные</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="active">
                {% for category in categories if category.active %}
                    {{ include('TariffBundle:Default:category.html.twig'
                        ,{ 
                            category: category,
                        })
                    }} 
                {% endfor %}
            </div>
            
            <div class="tab-pane fade" id="unactive">
                {% for category in categories if not category.active %}
                    {{ include('TariffBundle:Default:category.html.twig'
                        ,{ 
                            category: category,
                        })
                    }}

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}    

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/tariff/js/list-categories-wrapper.js') }}"></script>
{% endblock %}